.last-element__title {
    font-size: 36px;
    font-weight: 900;
    line-height: 120%; 
    margin-bottom: 30px;
}

.last-element__text:not(:last-child) {
    margin-bottom: 30px;
}

.last-element__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; 
}

.last-element__img:nth-of-type(4),
.last-element__img:nth-of-type(5) {
    margin-bottom: 30px;
}