.margin-principles {
    padding-bottom: 50px;
}

.margin-principles p {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%; 
}

.margin-principles__title {
    font-size: 36px;
    font-weight: 900;
    line-height: 120%; 
}

.margin-principles p:not(:last-child) {
    margin-bottom: 30px;
}

.margin-principles__title {
    margin-bottom: 30px;
}

.margin-principles__block {
    display: inline-block;
}

.top-left, .bottom-right {
    max-width: 50%;
    vertical-align: top;
}

.top-right, .bottom-left {
    max-width: 45%;
    vertical-align: top;
}

.top-left, .bottom-left {
    padding-right: 30px;
}

.top {
    margin-bottom: 30px;
}